<% layout("/layouts/boilerplate") %>

<!-- <h1>Edit Campground</h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
  <label for="title">Enter Title:</label>
  <input
    type="text"
    name="campground[title]"
    id="title"
    value="<%= campground.title %>"
  />
  <label for="location">Enter Location:</label>
  <input
    type="text"
    name="campground[location]"
    id="location"
    value="<%= campground.location %>"
  />
  <button>Edit Campground</button>
</form>
<p>
  <a href="/campgrounds/<%= campground._id %>"><button>Go Back</button></a>
</p>
<p>
  <a href="/campgrounds"><button>All Campgrounds</button></a>
</p> -->

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="campground[title]"
          id="title"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location </label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            class="form-control"
            name="campground[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="basic-addon1"
            value="<%= campground.price %>"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          required
        >
        <%= campground.description %>
        </textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Edit Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Go Back</a> &nbsp;
    <a href="/campgrounds">All campgrounds</a>
  </div>
</div>
